---
import Layout from "../../layouts/Layout.astro";
//SSR - renderizza una pagina a ogni richiesta ed imposto il pre rendering della pagina a false perche ho impostato output ad hybrid sulle impost. di astro
export const prerender = false;
const { id } = Astro.params;
const res = await fetch(`https://fakestoreapi.com/products/${id}`);
const product = await res.json();
---

<Layout title="product dettails">
  <div class="card">
    <h4>{product.title}</h4>
    <div class="image_container">
      <img src={product.image} alt={product.title} />
    </div>
    <h4>{product.price}€</h4>
    <p>
      {product.description}

      <a href={`/product/${product.id}`}>Read more</a>
    </p>
  </div>
</Layout>
